<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--<add key="ClientId" value="1108215790" />
    <add key="ClientTag" value="3489C04F7413DF962341400BA0C6E96F" />
    <add key="LicenseFile" value="DJMixes MIDs License File.txt" />
    <add key="GnsdkLibraryPath" value="lib" />-->


    <add key="ClientId" value="811508433"/>
    <add key="ClientTag" value="F654D51D7B7CFDD7565891F16007A83B"/>
    <add key="LicenseFile" value="license.txt"/>
    <add key="LicenseFileStr" value="-- BEGIN LICENSE v1.0 A1F968F7 --\r\nname: \r\nnotes: Gracenote Open Developer Program\r\nstart_date: 0000-00-00\r\nclient_id: 811508433\r\nmusicid_file: enabled\r\nmusicid_text: enabled\r\nmusicid_stream: enabled\r\nmusicid_cd: enabled\r\nplaylist: enabled\r\nvideoid: enabled\r\nvideo_explore: enabled\r\nlocal_images: enabled\r\nlocal_mood: enabled\r\nvideoid_explore: enabled\r\nacr: enabled\r\nepg: enabled\r\n-- SIGNATURE A1F968F7 --\r\nlAADAgAeQ8WHVD/U3K/jT1eTDm9QYboBMacMGqFzfrgWLDt1AB8BGL5RtWDlJt/5MHv46fU2/xkVx2iNB6Ty3VpZfFPv\r\n-- END LICENSE A1F968F7 --\r\n"/>
    <add key="GnsdkLibraryPath" value="lib"/>
    
  </appSettings>
  <runtime>
    <NetFx45_PInvokeStackResilience enabled="1"/>
  </runtime>
</configuration>
